.m-0-auto {
  margin: 0 auto !important;
}
.w-fit {
  width: intrinsic; /* Safari/WebKit utilisent un nom non-standard */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content;
}
.center {
  margin: 0 auto !important;
}
.homy {
  min-width: 116px !important;
}
.h-fit {
  height: fit-content !important;
}
.py-15 {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}
input[type='search']::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}
.color-008489 {
  color: #008489 !important;
}
.scale {
  transform: scale(0.8);
}
.subspan {
  position: relative !important;
  left: -0.15rem !important;
}
.ffoot {
  width: 240px !important;
  position: relative;
  top: 3rem;
  padding-bottom: 1.5rem !important;
}
.aside {
  min-width: 240px !important;
  height: 100% !important;
  background-color: white !important;
}
.bb {
  margin-left: -0.09rem;
}
.bbs {
  margin-left: 0.7rem !important;
}
.as-bur {
  padding-top: 0rem;
  padding-left: 1.9rem;
}
.hover-008489:hover .makeme-008489 {
  color: #008489 !important;
}
.color-6d6d6d {
  color: #8d8d8d;
}
.hover-8d8d8d:hover {
  color: #757575 !important;
}
.color-ff385c {
  color: #ff385c !important;
}
.border-tr {
  border-color: transparent !important;
}
.no-outline {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
.no-outlines {
  outline: 0px solid transparent !important;
  outline-offset: 0px !important;
}
.button.is-lights {
  background-color: transparent;
  border-color: transparent;
}

.button.is-lights.is-hovered,
.button.is-lights:hover {
  background-color: #f5f5f5;
  border-color: transparent;
}
.border-6d6d6d {
  border-color: #555555 !important;
}
.color-363636 {
  color: #777777 !important;
}
.hover-008489:hover {
  color: #008489bd !important;
}
.hover-white:hover {
  color: #fff !important;
}
.h-14 {
  height: 3.5rem !important;
}
.h-13 {
  height: 3.25rem !important;
}
.active-white:active {
  color: #fff !important;
}
.bghover-008489:hover {
  background-color: #008489bd !important;
}
.bghover-trans:hover {
  background-color: transparent !important;
}
.btn-search:hover .color-008489 {
  color: #008489bd !important;
}
.my-shadow {
  --tw-shadow: 0 0px 10px -1px rgba(0, 0, 0, 0.1),
    0 2px 8px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-color-008489 {
  background-color: #008489 !important;
}
.bg-color-white {
  background-color: #fff !important;
}
.bg-color-008489ok {
  background-color: #00848911 !important;
}
.justify-center {
  justify-content: center !important;
}
.align-center {
  align-items: center !important;
}
.shadown {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.418);
  -moz-box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.418);
  box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.418);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-right {
  float: right !important;
}
.jj-self {
  justify-self: end;
}
.size-3 {
  font-size: 3px !important;
}
.clickable {
  cursor: pointer;
}

.size-2 {
  font-size: 2px !important;
}

.underline-hover:hover {
  text-decoration: underline;
}
.size-4 {
  font-size: 4px !important;
}
.dropdown-items {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}
.size-6 {
  font-size: 6px !important;
}
.size-7 {
  font-size: 7px !important;
}
.size-8 {
  font-size: 8px !important;
}
.size-10 {
  font-size: 10px !important;
}
.size-12 {
  font-size: 12px !important;
}
.size-14 {
  font-size: 14px !important;
}
.size-15 {
  font-size: 15px !important;
}
.size-16 {
  font-size: 16px !important;
}
.size-17 {
  font-size: 17px !important;
}
.size-18 {
  font-size: 18px !important;
}
.size-19 {
  font-size: 19px !important;
}
.size-20 {
  font-size: 20px !important;
}
.size-22 {
  font-size: 22px !important;
}
.size-24 {
  font-size: 24px !important;
}
.size-26 {
  font-size: 26px !important;
}
.size-28 {
  font-size: 28px !important;
}
.size-30 {
  font-size: 30px !important;
}
.-ml-145 {
  margin-left: -2rem !important;
}
.-ml-1456 {
  margin-left: -3.5rem !important;
}
.size-32 {
  font-size: 32px !important;
}
.mr-5ok {
  margin-right: 1.25rem !important;
}
.active-lang {
  border-left: 4px solid #008489;
}
.unactive-lang {
  border-left: 4px solid transparent;
}
.pl5px {
  margin-left: 5px;
}
.aside::-webkit-scrollbar {
  position: absolute !important;
  width: 6px; /* Remove scrollbar space */
  border-radius: 10px;
  animation: 0.2s appear;
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.aside::-webkit-scrollbar-thumb {
  background: transparent;
}
.aside:hover::-webkit-scrollbar-thumb {
  background: #dddddd;
}
@media screen and (max-width: 500px) {
  .pos-right {
    float: none !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 524px) {
  .milogo {
    display: none !important;
  }
}
@media screen and (max-width: 570px) {
  .h-title {
    display: none !important;
  }
  .logo-svg {
    transform: scale(0.23) !important;
  }
  .cc-header {
    margin-left: 0rem !important;
  }
}
@media screen and (max-width: 450px) {
  .tatapp {
    padding: 0 !important;
  }
  .tt {
    position: relative !important;
    right: 0 !important;
  }
}
@media screen and (max-width: 360px) {
  .yyo {
    display: none !important;
  }
  .tt {
    position: relative !important;
    right: 0.7rem !important;
  }
}
@-moz-document url-prefix() {
  @media screen and (max-width: 1024px) {
    .btn-search {
      margin-left: -2rem !important;
    }
  }
}
